body {
  background-color: #b91450;
}

.ms_text_red {
  color: #b91450;
}

.ms_border_red {
  border-style: none;
  border: 1px solid #b91450;
}

.btn:hover {
  color: #b91450;
  background-color: lightgray;
  border: 1px solid #b91450;
}

.ms_border-top-bot {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.ms_bg_gray {
  background-color: gray;
}

.biglietto {
    display: none;
}

.biglietto.d_block {
    display: block;
}
